{
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"jsxSingleQuote": true,
	"semi": true,
	"arrowParens": "avoid",
	"printWidth": 80,
	"htmlWhitespaceSensitivity": "ignore",
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/assets/(.*)$",
		"^@/hooks/(.*)$",
		"^@/providers/(.*)$",
		"^@/services/(.*)$",
		"^@/types/(.*)$",
		"^@/store/(.*)$",
		"^@/utils/(.*)$",
		"^@/utils/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"^(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
