.app_orange_theme {
  --bg-color: #ffffff;
  --inverted-bg-color: #ffca00;
  --primary-color: #ffca00;
  --secondary-color: #d62e00;
  --inverted-primary-color: #d62e00;
  --inverted-secondary-color: #ffffff;
}
