.applink {
  color: var(--primary-color);

  &:hover {
    box-shadow: 0 0 10 5px var(--primary-color);
    opacity: 0.8;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}
